.sectionfaq {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerfaq{
  width: 100%;
  max-width:65%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.accordion-item{
  background-color: #fff;
  border-radius: .4rem;
}

.accordion-item hr{
  border: 1px solid #009FE3;
}

.accordion-link{
  font-size: 1.6rem;
  color: rgba(255,255,255,.8);
  text-decoration: none;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link h3{
  font-weight:500;
  font-size: 18px;
}

.accordion-link i{
  color: #009FE3;
  padding: .5rem;
  //font-size: 14px;
  
}

// .accordion-link ul{
//   display:flex;
//   align-items: flex-end;
//   list-style-type: none;
//   margin-left: 25px;
// }

// .accordion-link li{
//   font-size: 10px;
//   color: rgba(255, 255, 255, 0.4);
//   padding: 0 0 1px 5px;
// }

.accordion-link div{
  display: flex;
}

.accordion-link .ti-arrow-down{
  display: none;
}

.answer{
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  transition: max-height 650ms;
}
.answer::before{
  content: "";
  position: relative;
  width: .6rem;
  height: 90%;
  background-color: #009FE3;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.answer p{
  color: #000;
  font-size: 15px;
  padding: 2rem;
  margin: 0 auto;
  text-align: justify;
  
}

.accordion-item:target .answer{
  max-height: 15rem;
}

.accordion-item:target .accordion-link .ti-arrow-right{
  display: none;
}

.accordion-item:target .accordion-link .ti-arrow-down{
  display: block;
}

// faq2

summary {
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
  color: #000;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #009FE3;
}
details > summary::after {
  position: absolute;
  content: "+";
  right: 20px;
}
details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
}
details > summary::-webkit-details-marker {
  display: none;
}
.faq__content{
  padding-left: 20px;
  text-align: justify;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0; margin-top: -10px}
  100%  {opacity: 1; margin-top: 0px}
}