#header
  background: url("../img/headerBg.png") no-repeat
  background-size: cover
  height: 615px
  color: white
  text-align: center

  article
    width: 60%
    margin: 0 auto

  h1
    margin-bottom: 10px

.main-nav
  display: flex
  margin-top: 20px

  li
    list-style: none
  li:first-child
    margin: auto
  a
    color: white
    display: block
    border-radius: 5px
    padding: 10px 50px
    text-decoration: none
    font-weight: 900
    text-transform: uppercase
