@import url('https://fonts.googleapis.com/css?family=Asap|Playfair+Display:700,900');

html
  font-family: 'Asap', sans-serif
  font-size: 15px
  color: #000
  margin: 0 auto
  padding: 0

header
  background: #213E43
  color: #fff

.wrapper
  background: #00d2ff
  background: -webkit-linear-gradient(to left, #3a7bd5, #00d2ff)
  background: linear-gradient(to left, #3a7bd5, #00d2ff)

.card
  background: #2D2E31
  border: 1px solid #2D2E31
  border-radius: 4px
  margin: 0 5px

.card-popup
  background: #0D5C63
  &:hover
    background: #0D5C63




  // font-family: 'Playfair Display', serif;
  // font-family: 'Asap', sans-serif;