$light: #fff;
$primary-color: rgb(0, 159, 227);
$secondary-color: #f5f5f5;
$grey-color: rgb(135, 135, 135);
$black: #111;
$black-light: #2b2e3a;
$border-color: #dedede;
$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;
$rubik: 'Rubik', sans-serif;
$bg-gradient: linear-gradient(90deg, rgba(16, 174, 190, 1) 0%, rgba(16, 174, 190, 1) 25%, rgba(81, 116, 184, 1) 75%);
$bg-reintegros: linear-gradient(90deg, rgba(41, 188, 240, 1) 25%, rgba(99, 71, 252, 1) 75%);
$student-gradient: linear-gradient(90deg, rgba(255, 200, 0, 1) 0%, rgba(255, 127, 41, 1) 100%);
$social-bg: rgba(135, 135, 135, .6);
$purple: #383c90;
$dental: #3671b8;
$estetoscopio: #5792ce;
$mensaje: #342562;
$pildora: #2352a0;
$pasaporte: #644495;
$golden: #fdc006;
$sun: #fcb20c;
$poppy: #fb9b1b;
$carrot: #fb8d22;
