*
  margin: 0
  padding: 0
  box-sizing: border-box

@font-face
  font-family: 'muller'
  src: url('/fonts/muller-bold.otf') format("opentype")

@font-face
  font-family: 'helvetica'
  src: url('/fonts/helvetica-light.otf') format("opentype")

// Color Palette
$mirage: #1b2238
$apple-blossom: #a9464a
$juniper: #628484
$mine-shaft: #363434
$white: #fff

html, body
  font-family: 'helvetica'
  font-size: 16px
  color: $white

header
  background: url(../images/home-bg.jpg)
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: auto
  max-width: 100%
  display: grid
  height: 100vh
  position: relative
  grid-template-columns: 3fr 1fr
  grid-template-areas: "nav sidebar"

#logo
  position: relative
  width: 180px
  height: 80px
  margin: 10px

.nav
  grid-area: nav
  position: relative
  display: flex

  #menu
    position: relative
    width: 60px
    height: 100px
    color: $white
    display: flex
    padding: 20px
    background: $mirage
    justify-content: center
    align-items: center


.sidebar
  grid-area: sidebar
  background: $white
  position: relative

  .rrss
    padding: 10px
    text-align: right
  img
    width: 30px
    height: 30px
  
  .rotate
    color: $apple-blossom
    font-family: 'muller'
    font-size: 4em
    font-weight: bold
    position: absolute
    bottom: 100px
    transform: rotate(-90deg)
  .circle
    position: absolute
    top: 100%
    -webkit-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)
    left: 0
    right: 0
    margin: 0 50px
    text-align: right

// Servicios
.services
  display: block
  position: relative
  margin: 0
  padding: 5em 0
  background: url(../images/services-bg.jpg)
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: auto
  min-height: 100vh

  .intro
    width: 65%
    display: flex
    text-align: center
    margin: 0 auto
    padding-bottom: 2em
    .left
      width: 40%
      h1
        color: $white
        font-family: 'muller'
        font-size: 6em
        font-weight: bold
        display: block
      h2
        color: $apple-blossom
        font-family: 'muller'
        font-size: 2em
        letter-spacing: 1.8px
    .right
      width: 60%
      display: flex
      justify-content: center
      align-items: center
      text-align: justify

  .inner
    position: relative
    margin: 0 auto
    width: 80%
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
    grid-gap: 0
     
.inner .service
  position: relative
  display: block
  justify-content: center
  align-items: center

.service img
    max-width: 100%
    
.content
  padding: 10px
  position: relative

  h2
    text-align: left
    font-weight: bolder
  
  p
    text-align: justify

// Portfolio

.portfolio
  width: 100%
  padding: 2em 0
  max-height: 90vh
  position: relative
  font-family: 'muller'
  display: grid
  grid-template-columns: 1fr 1fr 2fr 1fr
  grid-template-rows: auto
  grid-gap: 0
  grid-template-areas: "port1 port2 port3 port4" "port5 port6 port3 port7"
  .port1
    grid-area: port1
  .port2
    grid-area: port2
    background: $mirage
    text-transform: uppercase
    span
      font-size: 2em
  .port3
    grid-area: port3
    position: relative
    text-transform: uppercase
    p
      position: absolute
      top: 10px
      left: 10px
    span
      font-size: 2em
  .port4
    grid-area: port4
    background: $apple-blossom
    p
      text-transform: uppercase
      font-family: 2em
  .port5
    grid-area: port5
    background: #dcdee4
    text-transform: uppercase
    p
      color: $mirage
    span
      color: $apple-blossom
      font-size: 2em
  .port6
    grid-area: port6

  .port7
    grid-area: port7
    background: $mine-shaft
  img
      max-width: 100%
      min-height: 100%
      display: block

// footer
.wrapper
  position: relative
  display: grid
  height: 35vh
  background: $white
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-gap: 0 25px
  color: $mirage
  h3
    font-size: 1.2em
    font-weight: bold  

.menu-bottom
  
  text-transform: uppercase
  font-size: 1.3em
  padding: 1.3em  

  li
    list-style-type: none
    padding-bottom: 8px
  a
    text-decoration: none
.address
  padding: 1.3em
  h2
    text-transform: uppercase
    font-weight: bold
    color: $apple-blossom
  div
    padding-bottom: 10px
.redes 
  padding: 1.3em
  p
    text-transform: uppercase
    font-weight: bold
  img
    width: 30px
    height: 30px

.copyright
  padding: 1.3em
