.social-box {
	position: fixed;
	top: 180px;
	left: 10px;
	padding: 5px 10px;
	width: auto;
	z-index: 99;
	background: $social-bg;
	border-radius: 5px;

	&:hover {
		transform: scale(1.8);
		transition: all .2s linear;
	}

	li:hover {
		transform: scale(1.5);
		transition: all .3s linear;
		overflow: hidden;

		i {
			color: $primary-color;
		}
	}
	ul {
		margin: 0;
	}
}

.text-cyan {
	color: #fff; //rgba(81, 116, 184, 1) !important;
}

.emisiones-box {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: linear-gradient(
		90deg,
		rgba(16, 174, 190, .5) 0%,
		rgba(16, 174, 190, .6) 25%,
		rgba(81, 116, 184, .5) 100%
	);
	padding: 10px;
	border-radius: 10px;
	z-index: 99999999999;
	width: auto;
	text-align: center;
	color: white;

	.btn-avril {
		padding: 8px;
		margin: 5px;
		background: $primary-color;
		color: white;

		&:hover {
			color: none;
			background: white;
		}
	}
}
